*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat',sans-serif;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
.container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
}
.wrapper{
	width: 980px;
	height: 800px;
	background-color: rgba(255, 0, 0, 0.5);
	box-shadow: 2px 1px 3px 2px rgba(0.2,0.1,0.3,0.4);
	text-align: center;
}
.main{
	margin-top: 40px;
}
.main_title{
	color: #fff;
	border-bottom: 2px solid #fff;
	display: inline-block;
}
.title{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 30px;	
}


.section{
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
}
.main_logo{
}
.logo{
	width: 200px;
	height: 180px;
	margin-left: 20px;
	border-radius: 100px; 
   border: 2px solid lightgrey; 
   box-shadow: 0 0 4px #666;
   overflow: hidden;
}

.description_box{
	width: 180px;
	margin-right: 350px;
}
.description{
	font-size: 25px;
	line-height: 30px;
	color: #fff;
}
.description_title{
	font-size: 30px;
	color: #fff;
	width: 100%;
}
.list{
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	text-decoration: underline;
	font-weight: 400;
}